<h2>Product List</h2>
<table class="table">
    <thead>
      <tr>
        <th>Imange</th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img src="{{ product.imageUrl}}" alt="" height="80px"></td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productCode }}</td>
        <td>{{ product.releaseDate }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.starRating }}</td>
      </tr>
    </tbody>
</table>
