<main class="main">
    <div class="content">
      <div>
          <div class="caption">
              <h3>Thông tin sinh viên</h3>
              <img src="assets/images/{{student.anh}}" alt="" height="300px">
          </div>
          <div class="right-side">
              <ul>
                  <li><span>Họ tên: </span>{{student.hoTen}}</li>
                  <li><span>Ngày sinh: </span>{{student.ngaySinh}}</li>
                  <li><span>Giới tính: </span>{{student.gioiTinh}}</li>
                  <li><span>Điểm TB: </span>{{student.diemTB}}</li>
              </ul>
          </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <app-inventor></app-inventor>
      <div class="divider" role="separator" aria-label="Divider"></div>
    </div>
    <app-product></app-product>
  </main>
  <router-outlet></router-outlet>
  